.quotesContainer {
    width: 100%;
    height: auto;
    padding: 150px 80px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(135,206,235,1) 25%);
}