:root {
    /* Colors */
    --blue: #87CEEB;
    --gray: #F5F5F5;
    --green: #98FF98;
    --red: #FF6F61;

    /* Fonts */
    --poppins: "Poppins", sans-serif;
    --roboto: "Roboto", sans-serif;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(135,206,235,1) 25%);
    font-family: var(--poppins);
    font-size: 62.5%;
}